 .u-section-1 {
  min-height: 135px;
}

.u-section-1 .u-gallery-1 {
  height: 115px;
  width: 1039px;
  margin: 10px auto 0 calc(((100% - 1140px) / 2) + -439px);
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 85px 85px;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-image-1 {
  width: 201px;
  height: 133px;
  margin: -123px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-1 {
    width: 610px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-gap: 100px 100px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 365px;
  }

  .u-section-1 .u-gallery-1 {
    height: 345px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 936px;
  }

  .u-section-1 .u-gallery-1 {
    height: 916px;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 597px;
  }

  .u-section-1 .u-gallery-1 {
    height: 577px;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(173,204,233,0.25), rgba(255,255,255,0.25)), url("images/graph.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 559px;
}

.u-section-2 .u-text-1 {
  transition-duration: 0.5s;
  font-size: 5.625rem;
  margin: 199px -79px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-2 .u-text-1 {
    margin: 186px 100px 230px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 210px;
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 400px;
    margin-right: 400px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
} .u-section-3 {
  min-height: 3671px;
}

.u-section-3 .u-tabs-1 {
  min-height: 3090px;
  height: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-2 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-tab-item-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-tab-link-3 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-tab-item-5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-5 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  transition-duration: 0.5s;
  margin: 30px 780px 0 420px;
}

.u-section-3 .u-image-1 {
  width: 919px;
  height: 472px;
  filter: brightness(0.95);
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 711px;
  margin: 28px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  transition-duration: 0.5s;
  margin: 97px 1034px 0 420px;
}

.u-section-3 .u-image-2 {
  height: 528px;
  width: 1376px;
  margin: 30px auto 0;
}

.u-section-3 .u-image-3 {
  width: 70px;
  height: 70px;
  margin: 75px auto 0 412px;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  margin: -66px 433px 0 482px;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  transition-duration: 0.5s;
  margin: 79px 420px 0;
}

.u-section-3 .u-text-6 {
  transition-duration: 0.5s;
  font-size: 1.25rem;
  margin: 63px 420px 0;
}

.u-section-3 .u-image-4 {
  height: 488px;
  width: 1407px;
  margin: 59px auto -22px;
}

.u-section-3 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-list-1 {
  width: 1715px;
  margin: 158px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 51px) calc(25% - 51px) calc(25% - 51px) calc(25% - 51px);
  min-height: 846px;
  grid-gap: 68px 68px;
  grid-auto-columns: calc(25% - 51px);
}

.u-section-3 .u-list-item-1 {
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px 0 0;
}

.u-section-3 .u-text-11 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-13 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px 0 0;
}

.u-section-3 .u-text-14 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-4 {
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-16 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px 0 0;
}

.u-section-3 .u-text-17 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-18 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-19 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px 0 0;
}

.u-section-3 .u-text-20 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-21 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-text-22 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px 0 0;
}

.u-section-3 .u-text-23 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-24 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-7 {
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-text-25 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px 0 0;
}

.u-section-3 .u-text-26 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-27 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-8 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-text-28 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px 0 0;
}

.u-section-3 .u-text-29 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-30 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-9 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-text-31 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px 0 0;
}

.u-section-3 .u-text-32 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-33 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-10 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-text-34 {
  font-size: 1.88235rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 14px 0 0;
}

.u-section-3 .u-text-35 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-36 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 0 0 30px;
}

.u-section-3 .u-list-2 {
  width: 1906px;
  margin: 72px auto -104px;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 3495px;
  grid-gap: 59px 59px;
  grid-auto-columns: 100%;
}

.u-section-3 .u-list-item-11 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-14 {
  padding: 30px;
}

.u-section-3 .u-text-37 {
  transition-duration: 0.5s;
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-38 {
  font-size: 1.5rem;
  margin: 24px 553px 0 0;
}

.u-section-3 .u-image-5 {
  width: 886px;
  height: 328px;
  margin: 44px 10px 0 950px;
}

.u-section-3 .u-list-item-12 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-15 {
  padding: 30px;
}

.u-section-3 .u-text-39 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-40 {
  font-size: 1.5rem;
  margin: 24px 553px 0 0;
}

.u-section-3 .u-image-6 {
  width: 886px;
  height: 328px;
  margin: 44px 10px 0 950px;
}

.u-section-3 .u-list-item-13 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-16 {
  padding: 30px;
}

.u-section-3 .u-text-41 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-42 {
  font-size: 1.5rem;
  margin: 24px 553px 0 0;
}

.u-section-3 .u-image-7 {
  width: 886px;
  height: 328px;
  margin: 44px 10px 0 950px;
}

.u-section-3 .u-list-item-14 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-17 {
  padding: 30px;
}

.u-section-3 .u-text-43 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-44 {
  font-size: 1.5rem;
  margin: 24px 553px 0 0;
}

.u-section-3 .u-image-8 {
  width: 886px;
  height: 328px;
  margin: 44px 10px 0 950px;
}

.u-section-3 .u-list-item-15 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-18 {
  padding: 30px;
}

.u-section-3 .u-text-45 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-46 {
  font-size: 1.5rem;
  margin: 24px 553px 0 0;
}

.u-section-3 .u-image-9 {
  width: 886px;
  height: 328px;
  margin: 44px 10px 0 950px;
}

.u-section-3 .u-list-item-16 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-19 {
  padding: 30px;
}

.u-section-3 .u-text-47 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-48 {
  font-size: 1.5rem;
  margin: 24px 553px 0 0;
}

.u-section-3 .u-image-10 {
  width: 886px;
  height: 328px;
  margin: 44px 10px 0 950px;
}

.u-section-3 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-20 {
  padding: 0 500px;
}

.u-section-3 .u-text-49 {
  font-size: 1.875rem;
  margin: 56px 130px 0 116px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-tab-pane-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-21 {
  padding: 0 500px;
}

.u-section-3 .u-image-11 {
  min-height: 690px;
  height: auto;
  background-image: url("images/pexels-photo-532568.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-22 {
  padding: 7px 30px;
}

.u-section-3 .u-text-50 {
  margin: 40px 427px 0 0;
}

.u-section-3 .u-list-3 {
  width: 483px;
  margin: 68px auto 0 0;
}

.u-section-3 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 311px;
  grid-gap: 19px 19px;
}

.u-section-3 .u-list-item-17 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-23 {
  padding: 30px;
}

.u-section-3 .u-text-51 {
  font-size: 2.25rem;
  margin: 57px auto 0 0;
}

.u-section-3 .u-text-52 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 680px;
    margin-left: 320px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 2108px;
    margin-left: 73px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 5156px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -11070px;
    margin-right: 934px;
    margin-left: 320px;
  }

  .u-section-3 .u-image-2 {
    height: 361px;
    margin-top: 1526px;
    width: 940px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 9777px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -2021px;
    margin-left: 382px;
    margin-right: 333px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -2994px;
    margin-left: 320px;
    margin-right: 320px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -61px;
    margin-left: 320px;
    margin-right: 320px;
  }

  .u-section-3 .u-image-4 {
    height: 326px;
    margin-top: 704px;
    width: 940px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 482px;
    grid-template-columns: repeat(4, calc(25% - 51px));
  }

  .u-section-3 .u-list-2 {
    width: 940px;
  }

  .u-section-3 .u-text-38 {
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    width: 880px;
    height: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-40 {
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    width: 880px;
    height: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-42 {
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    width: 880px;
    height: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-44 {
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    width: 880px;
    height: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-46 {
    margin-right: 0;
  }

  .u-section-3 .u-image-9 {
    width: 880px;
    height: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-48 {
    margin-right: 0;
  }

  .u-section-3 .u-image-10 {
    width: 880px;
    height: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-49 {
    margin-right: 30px;
    margin-left: 34px;
  }

  .u-section-3 .u-image-11 {
    background-size: 120%;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-3 .u-text-50 {
    margin-right: 227px;
  }

  .u-section-3 .u-list-3 {
    width: -120px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 570px;
    margin-left: 210px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 370px;
    margin-top: -603px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 5066px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -8456px;
    margin-right: 824px;
    margin-left: 210px;
  }

  .u-section-3 .u-image-2 {
    height: 277px;
    width: 720px;
    margin-top: -1129px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 6030px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 17px;
    margin-left: 272px;
    margin-right: 223px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -1079px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -31px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-image-4 {
    height: 250px;
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1294px;
    grid-auto-columns: calc(50% - 34px);
    grid-template-columns: repeat(2, calc(50% - 34px));
  }

  .u-section-3 .u-list-2 {
    width: 720px;
  }

  .u-section-3 .u-image-5 {
    width: 660px;
    height: 245px;
  }

  .u-section-3 .u-image-6 {
    width: 660px;
    height: 245px;
  }

  .u-section-3 .u-image-7 {
    width: 660px;
    height: 245px;
  }

  .u-section-3 .u-image-8 {
    width: 660px;
    height: 245px;
  }

  .u-section-3 .u-image-9 {
    width: 660px;
    height: 245px;
  }

  .u-section-3 .u-image-10 {
    width: 660px;
    height: 245px;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-21 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-11 {
    margin-bottom: -28px;
    background-size: auto 120%;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 480px;
    margin-left: 120px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 278px;
    margin-top: -594px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-top: 5002px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -8475px;
    margin-right: 734px;
    margin-left: 120px;
  }

  .u-section-3 .u-image-2 {
    height: 208px;
    width: 540px;
    margin-top: -1065px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 6328px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 182px;
    margin-right: 133px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -1400px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -37px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .u-section-3 .u-image-4 {
    height: 188px;
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    width: 520px;
    height: 193px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    width: 520px;
    height: 193px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    width: 520px;
    height: 193px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    width: 520px;
    height: 193px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-9 {
    width: 520px;
    height: 193px;
  }

  .u-section-3 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-10 {
    width: 520px;
    height: 193px;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-49 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-11 {
    background-position: 0% 35.05%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-50 {
    margin-right: 127px;
  }

  .u-section-3 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 20px;
    margin-right: 380px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 175px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 4911px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 634px;
    margin-left: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 131px;
    width: 340px;
    margin-top: -974px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 7011px;
    margin-left: 270px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 82px;
    margin-right: 33px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -2055px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 26px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 118px;
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-16 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-19 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-22 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-25 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-28 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-31 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-34 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-2 {
    width: 340px;
  }

  .u-section-3 .u-image-5 {
    width: 320px;
    height: 119px;
  }

  .u-section-3 .u-image-6 {
    width: 320px;
    height: 119px;
  }

  .u-section-3 .u-image-7 {
    width: 320px;
    height: 119px;
  }

  .u-section-3 .u-image-8 {
    width: 320px;
    height: 119px;
  }

  .u-section-3 .u-image-9 {
    width: 320px;
    height: 119px;
  }

  .u-section-3 .u-image-10 {
    width: 320px;
    height: 119px;
  }

  .u-section-3 .u-text-50 {
    margin-right: 0;
  }
}

.u-section-3 .u-text-6,
.u-section-3 .u-text-6:before,
.u-section-3 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-6.u-text-6.u-text-6:hover {
  color: #478ac9 !important;
}

.u-section-3 .u-text-6.u-text-6.u-text-6.hover {
  color: #478ac9 !important;
}

.u-section-3 .u-tab-link-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-tab-link-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-tab-link-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-tab-link-2:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-tab-link-2:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-section-3 .u-tab-link-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-tab-link-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-tab-link-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-tab-link-5:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-tab-link-5:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-block-8874-55:not([data-block-selected]):not([data-cell-selected]),
.u-block-8874-55:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8874-55:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-8874-55:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-block-8874-55:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-section-3 .u-text-51:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-text-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-text-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-51:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-51:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-51:not([data-block-selected]):not([data-cell-selected]):hover {
  border-color: #478ac9 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-text-51:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-51:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-51:not([data-block-selected]):not([data-cell-selected]).hover {
  border-color: #478ac9 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-container-layout:hover .u-text-51:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-text-51:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-container-layout:hover .u-repeater-1:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  color: #a35559 !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  color: #a35559 !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-5.u-text-5.u-text-5:hover {
  color: #a35559 !important;
}

.u-section-3 .u-text-5.u-text-5.u-text-5.hover {
  color: #a35559 !important;
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  opacity: 1 !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-2 {
  opacity: 1 !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-4 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-4 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-4 {
  opacity: 1 !important;
}

.u-section-3 .u-list-item-7,
.u-section-3 .u-list-item-7:before,
.u-section-3 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  border-color: #478ac9 !important;
}

.u-section-3 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  border-color: #478ac9 !important;
}

.u-section-3 .u-text-37,
.u-section-3 .u-text-37:before,
.u-section-3 .u-text-37 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-3.u-text-3.u-text-3:hover {
  color: #a35559 !important;
}

.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
  color: #a35559 !important;
}